
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

.page {
    display: flex;
    height: 100vh;
}

.widget {
    background-color: #1D2027;
    min-width: 240px;
    height: 100%;
}

.widget__logo {
    margin: 20px 0 41px 20px;
    background-image: url("../images/logo.png");
    width: 143px;
    height: 25px;
}

.widget__btn {
    margin: 0 auto 30px;
    width: 138px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3ba5d1;
    color: #ffffff;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
}

.widget__btn:hover {
    background-color: #3d92be;
    color: #ffffff;
    text-decoration: none;
}

.widget__line {
    background-color: #0a0a0a;
    margin: 0 20px 20px;
    height: 1px;
    border-bottom: 1px solid #31343a;
}

.widget__group {
    position: relative;
    display: flex;
    align-items: center;
    height: 38px;
}

.widget__group:hover {
    background-color: #2b2e35;
}

.widget__group:hover .group__delete_icon {
    visibility: visible;
}

.margin_for_icon_in_group_list {
    margin-left: 26px;
    margin-right: 10px;
}

.size-icons {
    font-size: 12px;
}

.color_red {
    color: #ff606f;
}

.color_orange {
    color: #ff9860;
}

.color_yellow {
    color: #ffef60;
}

.color_green {
    color: #5cc45c;
}

.color_aqua {
    color: #60fff4;
}

.color_blue {
    color: #68bee9;
}

.color_purple {
    color: #cc91ff;
}

.group__title {
    color: #eeeeee;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.group__delete_icon {
    position: absolute;
    top: 10px;
    right: 14px;
    color: #909090;
    font-size: 18px;
    visibility: hidden;
}

.widget__form {
    display: flex;
    margin: 20px auto 0;
    width: calc(100% - 40px);
    height: 30px;
    border-radius: 4px;
}

.widget_select {
    width: 35px;
    color: #ff606f;
    background-color: #5e6371;
    background-clip: padding-box;
    padding: 10px 11px 8px 12px;
    font-size: 12px;
    border: none;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.widget__create_new_group {
    width: 165px;
    padding-left: 12px;
    color: #ffffff;
    background-color: #30333a;
    border: none;
}

.widget__create_new_group::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
}
.widget__create_new_group:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff;
}
.widget__create_new_group::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
}
.widget__create_new_group:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
}

.wrap_content {
    background-color: #f0f1f5;
    padding-top: 14px;
    padding-left: 20px;
}

.content__search {
    width: 322px;
    height: 34px;
    padding-left: 12px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.content {
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh - 58px);
    display: flex;
    border-top: 1px solid #c8d3de;
    border-left: 1px solid #c8d3de;
    border-radius: 0.25rem;
}

.content__list {
    display: flex;
    flex-direction: column;
    min-width: 323px;
    border-right: 1px solid #c8d3de;
}

.link_to_article {
    position: relative;
    width: 100%;
    height: 95px;
    padding-top: 17px;
    padding-left: 15px;
    border-bottom: 1px solid #c8d3de;
}

.link_to_article__title {
    margin-bottom: 10px;
    color: #7a7f8d;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.link_to_article__URL {
    color: #7a7f8d;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.link_to_article__edit_icon, .link_to_article__delete_icon, .link_to_article__navigate_next_icon {
    position: absolute;
    color: #7a7f8d;
    font-size: 18px;
    cursor: pointer;
}

.link_to_article__edit_icon {
    right: 35px;
    bottom: 15px;
    visibility: hidden;
}

.link_to_article__delete_icon {
    right: 12px;
    bottom: 15px;
    visibility: hidden;
}

.link_to_article:hover  .link_to_article__edit_icon, .link_to_article:hover  .link_to_article__delete_icon {
    visibility: visible;
}

.link_to_article__navigate_next_icon {
    right: 5px;
    bottom: 39px;
    color: #7fb1c6;
}

.content__article {
    padding: 20px;
    overflow-y: auto;
}

.article_title {
    color: #428bd3;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 24px;
}

.article__bln-read {
    margin-bottom: 8px;
    color: #7e7e7e;
    font-size: 9px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 9px;
    text-transform: uppercase;
}

.article__data {
    margin-bottom: 24px;
    color: #7e7e7e;
    font-size: 9px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 9px;
}

.article__button {
    margin-bottom: 35px;
    width: 139px;
    height: 34px;
    background-image: linear-gradient(0deg, #e0e0e0 0%, #ffffff 100%);
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
}

.article__button:hover {
    background-color: #cccccc;
}

.article_img {
    padding: 12px;
    width: 400px;
    float: right;
}

.article__text {
    margin-bottom: 5px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.article__read-next {
    color: #428bd3;
    margin-bottom: 25px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 12px;
    cursor: pointer;
}

.clear {
    clear: both;
}

.article__line {
    margin-bottom: 20px;
    height: 1px;
    background-color: #dfdfdf;
}