html, body {
    height: 100%;
}

*{
    box-sizing: border-box;
}

.page {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: #1D2027;
    min-width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar__logo {
    margin: 20px 0 41px 20px;
    background-image: url("../images/logo.png");
    width: 143px;
    height: 25px;
    flex-shrink: 0;
}

.sidebar__add-feed-button {
    margin: 0 auto 30px;
    width: 138px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #3ba5d1;
    color: #ffffff;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    border: none;
    border-top: 1px solid #56cee6;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar__add-feed-button:hover {
    background-color: #3d92be;
    color: #ffffff;
    text-decoration: none;
}

.sidebar__divider {
    background-color: #0a0a0a;
    margin: 0 20px 20px;
    height: 2px;
    border-bottom: 1px solid #31343a;
    flex-shrink: 0;
}

.sidebar__group-list {
    margin-bottom: 20px;
    overflow-y: auto;
}

.sidebar__group-list::-webkit-scrollbar-track {
    background-color: #2b2e35;
    border-radius: 6px;
}

.sidebar__group-list::-webkit-scrollbar {
    width: 12px;
    background-color: #1d2027;
}

.sidebar__group-list::-webkit-scrollbar-thumb {
    background-color: #464a54;
    border-radius: 6px;
}

.sidebar__empty-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    color: #eeeeee;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

.sidebar__group {
    position: relative;
    display: flex;
    align-items: center;
    height: 38px;
    cursor: pointer;
}

.sidebar__group:hover {
    background-color: #464a54;
}

.sidebar__select-background {
    background-color: #30333a;
}

.sidebar__group:hover .sidebar__group-delete-icon {
    visibility: visible;
}

.sidebar__group-margin-icon {
    margin-left: 28px;
    margin-right: 12px;
}

.size-marker-icons {
    font-size: 12px;
}

.size-icons {
    font-size: 18px;
}

.color-red {
    color: #ff606f;
}

.color-orange {
    color: #ff9860;
}

.color-yellow {
    color: #ffef60;
}

.color-green {
    color: #5cc45c;
}

.color-aqua {
    color: #60fff4;
}

.color-blue {
    color: #68bee9;
}

.color-purple {
    color: #cc91ff;
}

.sidebar__group-title {
    color: #eeeeee;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}

.sidebar__group-delete-icon {
    position: absolute;
    top: 10px;
    right: 14px;
    color: #909090;
    font-size: 18px;
    visibility: hidden;
}

.sidebar__group-delete-icon:hover {
    color: #b9b9b9;
}

.sidebar__form {
    padding: 0 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    height: 30px;
    border-radius: 4px;
}

.sidebar__select-color-marker {
    width: 35px;
    background-color: #464a54;
    background-clip: padding-box;
    padding: 9px 11px 8px 12px;
    border: none;
    border-top: 1px solid #62656e;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sidebar__create-group {
    width: 165px;
    padding-left: 12px;
    padding-right: 10px;
    color: #ffffff;
    background-color: #30333a;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border: none;
    outline: none;
}

.content-wrapper {
    background-color: #f0f1f5;
    padding-top: 14px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.content__search-wrapper {
    position: relative;
    width: 322px;
}

.content__search {
    width: 100%;
    height: 34px;
    padding-right: 20px;
    padding-left: 12px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    flex-shrink: 0;
    outline: none;
}

.content__search-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #7a7f8d;
    cursor: pointer;
}

.content {
    display: flex;
    flex-shrink: 1;
    width: 100%;
    height: 100%;
}

.feed-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 323px;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #c8d3de;
    border-top: 1px solid #c8d3de;
    border-left: 1px solid #c8d3de;
    border-top-left-radius: 3px;
    overflow-y: auto;
}

.feed-list::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-left: 1px solid #c8d3de;
}

.feed-list::-webkit-scrollbar {
    width: 12px;
    border: #c8d3de;
}

.feed-list::-webkit-scrollbar-thumb {
    background-color: #c8d3de;
}

.feed-list__empty-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    color: #1f7ca3;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.feed-list__feed-container {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 95px;
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 65px;
    border-bottom: 1px solid #c8d3de;
}

.feed-list__feed-container:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.feed-list__name-wrapper {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.feed-list__feed-favicon {
    height: 16px;
    width: 16px;
    margin-right: 4px;
}

.feed-list__feed-name {
    color: #1f7ca3;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
}

.feed-list__feed-url {
    padding-bottom: 1px;
    color: #7a7f8d;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-list__icon-container {
    position: absolute;
    right: 12px;
    bottom: 15px;
    visibility: hidden;
}

.feed-list__icon {
    color: #7a7f8d;
}

.feed-list__icon:hover {
    color: #606573;
}

.feed-list__navigate-next-icon {
    position: absolute;
    right: 5px;
    bottom: 39px;
    color: #7fb1c6;
    visibility: hidden;
}

.feed-list__feed-container:hover .feed-list__icon-container,
.feed-list__feed-container:hover .feed-list__navigate-next-icon  {
    visibility: visible;
}

.article {
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #c8d3de;
    overflow-y: auto;
}

.article::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.article::-webkit-scrollbar {
    width: 12px;
    border: #c8d3de;
}

.article::-webkit-scrollbar-thumb {
    background-color: #c8d3de;

}

.article__title {
    color: #428bd3;
    margin-bottom: 19px;
    font-size: 26px;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    font-weight: normal;
}

.article__read-status {
    margin-bottom: 8px;
    color: #7e7e7e;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    line-height: 9px;
    text-transform: uppercase;
}

.article__data {
    margin-bottom: 24px;
    color: #7e7e7e;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    line-height: 9px;
}

.article__button {
    margin-bottom: 35px;
    width: 139px;
    height: 34px;
    background-image: linear-gradient(0deg, #e0e0e0 0%, #ffffff 100%);
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    outline: none;
}

.article__button:hover {
    background-color: #cccccc;
}

.article__img {
    padding: 12px;
    width: 400px;
    float: right;
}

.article__text-block {
    margin-bottom: 5px;
}

.article__text {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.article__read-next {
    color: #428bd3;
    margin-bottom: 25px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 12px;
    cursor: pointer;
}

.clear {
    clear: both;
}

.article__divider {
    margin-bottom: 20px;
    height: 1px;
    background-color: #dfdfdf;
}

.popup-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
}

.popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 17px 0 35px;
    background-color: #ffffff;
    border-radius: 3px;
}

.popup__title {
    margin-left: 15px;
    margin-bottom: 14px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
}

.popup__body {
    display: grid;
    grid-template-columns: 195px 362px;
    padding: 20px 20px 20px 21px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.popup__form-name {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.popup__input-wrapper {
    position: relative;
}

.popup__input {
    width: 362px;
    height: 34px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    position: relative;
}

.popup__input-error {
    color: #df4b41;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    position: absolute;
    top: 36px;
    left: 12px;
}

.border-error {
    border-color: #df4b41;
}

.popup__button-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 19px;
    padding-right: 20px;
}

.popup__button {
    padding: 3px 5px;
    width: 110px;
    height: 34px;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
}

.popup__button:hover {
    text-decoration: none;
}

.popup__cancel-button {
    margin-right: 9px;
    color: #333333;
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    text-decoration: none;
}

.popup__cancel-button:hover {
    color: #333333;
    background-color: #dcdcdc;
}

.popup__add-button,
.popup__edit-button {
    color: #ffffff;
    background-color: #397eb9;
    border: 1px solid #2b669a;
    text-decoration: none;
}

.popup__add-button:hover,
.popup__edit-button:hover {
    color: #ffffff;
    background-color: #3a9bd7;
}
