<!DOCTYPE html>
<html ng-app="groupListApp">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel</title>
    <script src="js/angular.js"></script>
    <script src="js/app_angular.js"></script>
</head>
<body ng-controller="GroupListCtrl">
    <div class="page">
        <div class="widget">
            <div class="logo"></div>
            <a class="widget__btn btn" href="#" ng-click="addNewGroup()">Добавить ленту</a>
            <div class="line"></div>
            <div class="widget__group" ng-repeat="group in data.groups">
                <div class="marker_for_group"></div>
                <div class="title_for_group">{{group.name}}</div>
            </div>
            <form class="form">
                <select class="form-control">
                    <option class="marker_for_group"></option>
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
                <input class="widget__create_new_group" type="text" ng-model="groupName" placeholder="Научные факты">
            </form>
        </div>
        <div class="content">
            <input class="search" type="search" placeholder="Поиск по новостям...">
            <div class="wrapper__form_adding_new_feed"></div>
            <div class="form_adding_new_feed">
                    <div class="form_adding_new_feed__title">Добавление новой ленты</div>
                    <div class="form_adding_new_feed__body">
                        <div class="form_adding_new_feed_form_name">Название ленты</div>
                        <input class="form_adding_new_feed__form_input" type="text" placeholder="Название ленты">
                        <div class="form_adding_new_feed_form_name">URL</div>
                        <input class="form_adding_new_feed__form_input" type="text" placeholder="URL">
                        <div class="form_adding_new_feed_form_name">Группа</div>
                        <select class="form-control form_adding_new_feed__form_input" type="text">
                            <option>Програмирование</option>
                            <option>Дизайн</option>
                            <option>Смешнявки</option>
                        </select>
                    </div>
                    <div class="form_adding_new_feed__buttons">
                        <a class="btn form_adding_new_feed__cancel" href="#">Отменить</a>
                        <a class="btn form_adding_new_feed__add" href="#">Добавить</a>
                    </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>