<!DOCTYPE html>
<html ng-app="groupListApp">
    <head>
        <title>Rss-reader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="css/reset.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/app_angular.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="GroupListCtrl">
        <div class="page">
            <div class="sidebar">
                <div class="sidebar__logo"></div>
                <a class="sidebar__btn" href="#">Добавить ленту</a>
                <div class="sidebar__line"></div>
                <div class="sidebar__list-feed-group">
                    <div class="sidebar__feed-group" ng-repeat="group in data.groups" ng-click="openLinks ()">
                        <i class="material-icons size-icons feed-group__margin-icon" ng-class="group.colored">radio_button_checked</i>
                        <div class="feed-group__title">{{group.name}} ({{group.article_links.length}})</div>
                        <i class="material-icons feed-group__delete-icon" ng-click="deleteGroup()">delete</i>
                    </div>
                </div>
                <form class="sidebar__form">
                    <select class="material-icons sidebar__select" ng-model="groupColor" ng-class="groupColor" ng-init="groupColor='color_red'">
                        <option class="material-icons size-icons color_red" value="color_red" selected="selected">radio_button_checked</option>
                        <option class="material-icons size-icons color_orange" value="color_orange">radio_button_checked</option>
                        <option class="material-icons size-icons color_yellow" value="color_yellow">radio_button_checked</option>
                        <option class="material-icons size-icons color_green" value="color_green">radio_button_checked</option>
                        <option class="material-icons size-icons color_aqua" value="color_aqua">radio_button_checked</option>
                        <option class="material-icons size-icons color_blue" value="color_blue">radio_button_checked</option>
                        <option class="material-icons size-icons color_purple" value="color_purple">radio_button_checked</option>
                    </select>
                    <input class="sidebar__create_new_feed-group" type="text" placeholder="Новая лента" ng-model="groupName" ng-keyup="$event.keyCode == 13 && addNewGroup()">
                </form>
            </div>
            <div class="wrap_content">
                <input class="content__search" type="search" placeholder="Поиск по новостям...">
                <div class="content">
                    <div class="content__list">
                        <div class="article-link" ng-repeat="link in data.groups[indexGroup].article_links">
                            <h1 class="article-link__title">{{link.name}}</h1>
                            <p class="article-link__url">{{link.url}}</p>
                            <i class="material-icons article-link__edit-icon" ng-click="editLink($index, name, url)">edit</i>
                            <i class="material-icons article-link__delete-icon" ng-click="deleteLink()">delete</i>
                            <i class="material-icons article-link__navigate-next-icon">navigate_next</i>
                        </div>
                    </div>
                    <div class="content__article">
                        <div>
                            <h1 class="article__title" href="#">Планы выхода контента.</h1>
                            <p class="article__read-status">прочитано</p>
                            <p class="article__data">03.11.2018 в 9:00</p>
                            <button class="article__button">Читать описание</button>
                            <div>
                                <img class="article__img" src="images/wow_logo.png">
                                <div class="article__block_with_text">
                                    <p class="article__text">Хотя в начале будет использоваться версия 1.12, мы хотим открыть для игроков те приключения, которые они ждут. Что касается графика, то мы добавили четыре дополнительных этапа и собираемся со временем ввести представленный контент в игру.</p>
                                    <p class="article__text">1-й этап: Огненные Недра, Ониксия, Забытый Город, Каззак, Азурегос.</p>
                                    <p class="article__text">2-й этап: логово Крыла Тьмы, поля боя и PvP-награды, Зул'Гуруб.</p>
                                    <p class="article__text">3-й этап: Ан'Кираж (включая вводное событие), уровень экипировки 0,5, контент Силитуса, зеленые драконы.</p>
                                    <p class="article__text">4-й этап: рейд «Наксрамас», вторжение Плети.</p>
                                    <p class="article__text">Наши планы еще могут измениться, однако нам хотелось дать вам представление о том, что ждет нас в будущем. У нас впереди еще очень много работы, но нам не терпится узнать ваше мнение.
                                Владельцы обычных и виртуальных билетов BlizzCon 2018 смогут поиграть в демоверсию World of Warcraft Classic уже сегодня! Подробности о демоверсии вы найдете в нашей статье, а информацию о возможных ограничениях — на форуме.</p>
                                </div>
                                <div class="article__read-next">Читать дальше→</div>
                            </div>
                            <div class="article__line"></div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <h1 class="article__title">Планы выхода контента.</h1>
                            <p class="article__data">03.11.2018 в 9:00</p>
                            <button class="article__button">Читать описание</button>
                            <div class="article__line"></div>
                        </div>
                        <div>
                            <h1 class="article__title">Планы выхода контента.</h1>
                            <p class="article__data">03.11.2018 в 9:00</p>
                            <button class="article__button">Читать описание</button>
                            <div class="article__line"></div>
                        </div>
                        <div>
                            <h1 class="article__title">Планы выхода контента.</h1>
                            <p class="article__data">03.11.2018 в 9:00</p>
                            <button class="article__button">Читать описание</button>
                            <div class="article__line"></div>
                        </div>
                    </div>
                    <div class="wrapper__form_adding_new_feed"></div>
                    <!--Форма для добавления ссылки на статью-->
                    <div class="form_adding_new_feed">
                        <div class="form_adding_new_feed__title">Добавление новой ленты</div>
                        <!--Форма для добавления ссылки на статью-->
                        <div class="form_adding_new_feed__body">
                            <div class="form_adding_new_feed_form_name">Название ленты</div>
                            <input class="form_adding_new_feed__form_input" type="text" placeholder="Название ленты" ng-model="linkName">
                            <div class="form_adding_new_feed_form_url">URL</div>
                            <input class="form_adding_new_feed__form_input" type="text" placeholder="URL" ng-model="linkUrl">
                            <div class="form_adding_new_feed_form_name">Группа</div>
                            <select class="form-control form_adding_new_feed__form_input" type="text" ng-model="indexGroup_for_addNewLink">
                                <option ng-value="this.$index" ng-repeat="group in data.groups">{{group.name}}</option>
                            </select>
                        </div>
                        <div class="form_adding_new_feed__buttons">
                            <a class="btn form_adding_new_feed__cancel" href="#">Отменить</a>
                            <a class="btn form_adding_new_feed__add" href="#" ng-click="addNewLink()">Добавить</a>
                        </div>
                    </div>
                    <!--Форма для редактирования ссылки на статью-->
                    <div class="form_editing_feed">
                        <div class="form_adding_new_feed__title">Добавление новой ленты</div>
                        <div class="form_adding_new_feed__body">
                            <div class="form_adding_new_feed_form_name">Название ленты</div>
                            <input class="form_adding_new_feed__form_input" type="text" placeholder="Название ленты" ng-model="linkName">
                            <div class="form_adding_new_feed_form_url">URL</div>
                            <input class="form_adding_new_feed__form_input" type="text" placeholder="URL" ng-model="linkUrl">
                            <div class="form_adding_new_feed_form_name">Группа</div>
                            <select class="form-control form_adding_new_feed__form_input" type="text" ng-init="">
                                <option ng-repeat="group in data.groups">{{group.name}}</option>
                            </select>
                        </div>
                        <div class="form_adding_new_feed__buttons">
                            <a class="btn form_adding_new_feed__cancel" href="#">Отменить</a>
                            <a class="btn form_editing_feed__edit" href="#" ng-click="edit()">Добавить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>