<!DOCTYPE html>
<html ng-app="rssReaderApp">
    <head>
        <title>Rss-reader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="css/reset.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body ng-controller="rssReaderCtrl">
        <div class="page">
            <div class="sidebar">
                <div class="sidebar__logo" ng-hide="" ng-click=""></div>
                <a class="sidebar__btn" href="#" ng-click="showFormAdding = true; linkName = ''; linkUrl=''" >Добавить ссылку</a>
                <div class="sidebar__line"></div>
                <div class="sidebar__list_feed_group">
                    <div class="sidebar__list_none" ng-show="data.groups.length === 0">Список пуст</div>
                    <div class="sidebar__feed-group" ng-style="$index === indexGroup && {'background-color': '#2b2e35'}" ng-repeat="group in data.groups" ng-click="selectGroup ()">
                        <i class="material-icons size-icons feed-group__margin-icon" ng-class="data.color_markers[group.id_color].className">radio_button_checked</i>
                        <div class="feed-group__title">{{group.name}} ({{group.article_links.length}})</div>
                        <i class="material-icons feed-group__delete-icon" ng-click="deleteGroup()">delete</i>
                    </div>
                </div>
                <form class="sidebar__form">
                    <select class="material-icons sidebar__select" ng-model="idGroupColor" ng-class="data.color_markers[idGroupColor].className">
                        <option class="material-icons size-icons color_red" value="0">radio_button_checked</option>
                        <option class="material-icons size-icons color_orange" value="1">radio_button_checked</option>
                        <option class="material-icons size-icons color_yellow" value="2">radio_button_checked</option>
                        <option class="material-icons size-icons color_green" value="3">radio_button_checked</option>
                        <option class="material-icons size-icons color_aqua" value="4">radio_button_checked</option>
                        <option class="material-icons size-icons color_blue" value="5">radio_button_checked</option>
                        <option class="material-icons size-icons color_purple" value="6">radio_button_checked</option>
                    </select>
                    <input class="sidebar__create_new_feed-group" type="text" placeholder="Новая лента" ng-model="groupName" ng-keyup="$event.keyCode == 13 && addNewGroup()">
                </form>
            </div>
            <div class="wrap_content">
                <input class="content__search" type="search" placeholder="Поиск по новостям...">
                <div class="content">
                    <div class="content__list">
                        <div class="article-link__list_none" ng-show="data.groups[indexGroup].article_links.length === 0">Список пуст</div>
                        <div class="article-link" ng-repeat="link in data.groups[indexGroup].article_links">
                            <h1 class="article-link__title">{{link.name}}</h1>
                            <p class="article-link__url">{{link.url}}</p>
                            <i class="material-icons article-link__edit-icon" ng-click="showFromEditing();">edit</i>
                            <i class="material-icons article-link__delete-icon" ng-click="deleteLink()">delete</i>
                            <i class="material-icons article-link__navigate-next-icon">navigate_next</i>
                        </div>
                    </div>
                    <div class="content__article">
                        <div>
                            <h1 class="article__title" href="#">Планы выхода контента.</h1>
                            <p class="article__read-status">прочитано</p>
                            <p class="article__data">03.11.2018 в 9:00</p>
                            <button class="article__button">Читать описание</button>
                            <div>
                                <img class="article__img" src="images/wow_logo.png">
                                <div class="article__block_with_text">
                                    <p class="article__text">Хотя в начале будет использоваться версия 1.12, мы хотим открыть для игроков те приключения, которые они ждут. Что касается графика, то мы добавили четыре дополнительных этапа и собираемся со временем ввести представленный контент в игру.</p>
                                    <p class="article__text">1-й этап: Огненные Недра, Ониксия, Забытый Город, Каззак, Азурегос.</p>
                                    <p class="article__text">2-й этап: логово Крыла Тьмы, поля боя и PvP-награды, Зул'Гуруб.</p>
                                    <p class="article__text">3-й этап: Ан'Кираж (включая вводное событие), уровень экипировки 0,5, контент Силитуса, зеленые драконы.</p>
                                    <p class="article__text">4-й этап: рейд «Наксрамас», вторжение Плети.</p>
                                    <p class="article__text">Наши планы еще могут измениться, однако нам хотелось дать вам представление о том, что ждет нас в будущем. У нас впереди еще очень много работы, но нам не терпится узнать ваше мнение.
                                Владельцы обычных и виртуальных билетов BlizzCon 2018 смогут поиграть в демоверсию World of Warcraft Classic уже сегодня! Подробности о демоверсии вы найдете в нашей статье, а информацию о возможных ограничениях — на форуме.</p>
                                </div>
                                <div class="article__read-next">Читать дальше→</div>
                            </div>
                            <div class="article__line"></div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <h1 class="article__title">Планы выхода контента.</h1>
                            <p class="article__data">03.11.2018 в 9:00</p>
                            <button class="article__button">Читать описание</button>
                            <div class="article__line"></div>
                        </div>
                        <div>
                            <h1 class="article__title">Планы выхода контента.</h1>
                            <p class="article__data">03.11.2018 в 9:00</p>
                            <button class="article__button">Читать описание</button>
                            <div class="article__line"></div>
                        </div>
                        <div>
                            <h1 class="article__title">Планы выхода контента.</h1>
                            <p class="article__data">03.11.2018 в 9:00</p>
                            <button class="article__button">Читать описание</button>
                            <div class="article__line"></div>
                        </div>
                    </div>
                    <div class="wrapper__form_adding_new_feed" ng-show="showFormAdding || showFormEditing" ng-click="showFormAdding = false; showFormEditing = false"></div>
                    <!--Форма для добавления ссылки на статью-->
                    <div class="form_adding_new_feed" ng-show="showFormAdding">
                        <div class="form_adding_new_feed__title">Добавление новой ссылки</div>
                        <div class="form_adding_new_feed__body">
                            <div class="form_adding_new_feed_form_name">Название ленты</div>
                            <input class="form_adding_new_feed__form_input" type="text" placeholder="Название ленты" ng-model="linkName">
                            <div class="form_adding_new_feed_form_url">URL</div>
                            <input class="form_adding_new_feed__form_input" type="text" placeholder="URL" ng-model="linkUrl">
                            <div class="form_adding_new_feed_form_name">Группа</div>
                            <select class="form-control form_adding_new_feed__form_input" type="text" ng-model="indexGroup">
                                <option ng-value="this.$index" ng-repeat="group in data.groups">{{group.name}}</option>
                            </select>
                        </div>
                        <div class="form_adding_new_feed__buttons">
                            <a class="btn form_adding_new_feed__cancel" href="#" ng-click="showFormAdding = false">Отменить</a>
                            <a class="btn form_adding_new_feed__add" href="#" ng-click="addNewLink(); showFormAdding = false">Добавить</a>
                        </div>
                    </div>
                    <!--Форма для редактирования ссылки на статью-->
                    <div class="form_editing_feed" ng-show="showFormEditing">
                        <div class="form_adding_new_feed__title">Редактирование ссылки</div>
                        <div class="form_adding_new_feed__body">
                            <div class="form_adding_new_feed_form_name">Название ленты</div>
                            <input class="form_adding_new_feed__form_input" type="text" placeholder="Название ленты" ng-model="editLinkName">
                            <div class="form_adding_new_feed_form_url">URL</div>
                            <input class="form_adding_new_feed__form_input" type="text" placeholder="URL" ng-model="editLinkUrl">
                            <div class="form_adding_new_feed_form_name">Группа</div>
                            <select class="form-control form_adding_new_feed__form_input" disabled="disabled" type="text" ng-init="">
                                <option>{{data.groups[indexGroup].name}}</option>
                            </select>
                        </div>
                        <div class="form_adding_new_feed__buttons">
                            <a class="btn form_adding_new_feed__cancel" href="#" ng-click="showFormEditing = false">Отменить</a>
                            <a class="btn form_editing_feed__edit" href="#" ng-click="editLink(); showFormEditing = false">Редактировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/libs/jquery-3.3.1.min.js"></script>
        <script src="js/libs/angular.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>