
* {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    height: 100vh;
}

.widget {
    display: flex;
    flex-direction: column;
    background-color: #1D2027;
    width: 240px;
    height: 100%;
}

.logo {
    margin: 20px 0 41px 20px;
    background-image: url("../images/logo.png");
    width: 143px;
    height: 25px;
}

.widget__btn {
    margin: 0 auto 30px;
    background: #3ba5d1;
    width: 138px;
    height: 37px;
    color: #ffffff;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 24px;
    border: none;
    outline: none;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
}

.widget__btn:hover {
    background-color: #4876d1;
}

.line {
    background-color: #0a0a0a;
    margin: 0 20px 20px;
    height: 1px;
    border-bottom: 1px solid #31343a;
}

.widget__group {
    display: flex;
    align-items: center;
    height: 38px;
}

.widget__group:hover {
    background-color: #2b2e35;
}

.marker_for_group {
    margin-left: 26px;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #cc91ff;
    position: relative;
}

.marker_for_group:after {
    content: "";
    background-color: #cc91ff;
    border-radius: 50%;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    width: 4px;
    height: 4px;
    position: absolute;
}

.title_for_group {
    color: #eeeeee;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

.form {
    display: flex;
    margin: 0 auto;
    width: calc(100% - 40px);
    height: 30px;
    border-radius: 4px;
}

.form-control {
    width: 35px;
    height: 30px;
    border: none;
}

.marker_for_select {
    position: relative;
}

.marker_for_select:after {
    content: "";
    background-color: #cc91ff;
    border-radius: 50%;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    width: 4px;
    height: 4px;
    position: absolute;
}

.widget__create_new_group {
    padding-left: 12px;
    border: none;
}

.content {
    position: relative;
    flex-grow: 1;
    background-color: #f0f1f5;
    padding-top: 14px;
    padding-left: 20px;
}

.search {
    width: 322px;
    height: 32px;
    padding-left: 12px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.wrapper__form_adding_new_feed {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    visibility: hidden;
}

.form_adding_new_feed {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(50% - 173px);
    left: calc(50% - 299px);
    padding: 17px 0 35px;
    background-color: #ffffff;
    border-radius: .25rem;
    visibility: hidden;
}

.visibility {
    visibility: visible;
}

.form_adding_new_feed__title {
    margin-left: 15px;
    margin-bottom: 14px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
}

.form_adding_new_feed__body {
    display: grid;
    grid-template-columns: 195px 362px;
    padding: 20px 20px 35px 21px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.form_adding_new_feed_form_name {
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
}

.form_adding_new_feed__form_input {
    width: 362px;
    height: 34px;
    padding-left: 12px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.form_adding_new_feed__buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 19px;
    padding-right: 20px;
}

.form_adding_new_feed__cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    width: 93px;
    height: 34px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
    color: #333333;
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
}

.form_adding_new_feed__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 34px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
    color: #ffffff;
    background-color: #397eb9;
    border: 1px solid #2b669a;
}